// Var Color

$color-white: #fff;
$color-base: #6E72E3;
$color-base-light: #838DEF;
$color-light-green: #8AF1D3;
$color-black: black;
$color-beige: wheat;
$color-gray: gray;
$color-input: #dddbf8fb;
$color-gray-rgba: rgba(136, 165, 191, 0.48);
$color-fixed: #453ECC;